
body
{
   background-color: rgb(218, 206, 230);
   margin: 0;
}
#logo
{
    width: 70px;
    float: left;
   
}

#logotipo
{
    width: 100px;
    font-size: 24px;
    font-weight: bold;;
    float: left;
    margin-top: 10px;
    position: sticky;
}

#menu
{
  list-style-type: none; 
   margin: 0;
  padding: 0; 
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  position: sticky;
 
}


.menuli
{
    
    display: inline;
    padding: 20px;
}

a:hover{
    color: rgb(96, 22, 139);
    text-decoration: underline;
    font-weight: bold;
}

a
{
text-decoration: none;
}

#nav
{
   
    text-align: center;
    position: fixed;
    top: 0;
    margin: 0;
    text-align: center;
    padding: 20px;
    background-color: rgb(189, 159, 218);
    width: 100%;
    height: 50px ;
   
}

#image1
{
width:400px;
border-radius: 20%;
height: 300px;
float: right;
margin-right: 200px;
margin-bottom: 100px;
box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);


}
#titulo1
{
    color: rgb(32, 32, 97);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}
#paragrafo1
{
    text-align: justify;
    font-size: 20px;
    font-family:   sans-serif;
    width: 500px;
    
}


#secao1
{
    display: inline-block;
   margin-left: 100px;

  
}

.itemmenu
{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10%;
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: rgb(178, 142, 212);
    padding-top: 2%;
   
   
}

#secao2
{
    margin-top: 330px;
    width: 100%;
}

#image2
{
    border-radius: 20%;
    float: left; 
    margin-left:80px;
    margin-right: 100px;
    height: 400px;
    width: 30%;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
   
   
}


#div2
{
    margin-top: 300px;
    margin-bottom: 300px;

}

#paragrafo2{
    width: 90%;
    font-size: 20px;
    margin-top: 100px;
    font-family: sans-serif;
    text-align: justify;
    
}

.titulo2
{
    color: rgb(32, 32, 97);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 200px;
    margin-left: 600px;

}

 #titulo3 
{
    color: rgb(32, 32, 97);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
#subtitulo3
{
    color: rgb(32, 32, 97);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 70px;
}
 .image3 
{
    width: 80%;
    height: 280px; 
    border-radius: 10%;
    
    
}

.divcard 
{
    width: 30%; /* Define a largura de cada card */
    float: left; /* Faz os cards flutuarem para a esquerda */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    margin: 10px; /* Adiciona margens entre os cards */
    height: 100px;
}


    

.paragrafo3
{ 
      width: 75%;  
      text-align:justify;
      margin-left: 10px; 

}

.titulocard 
{
    color: rgb(75, 0, 119);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20%;
    width: 40%;
    font-size: larger;
    text-align: center;
}

 .botaocard 
{  border: solid 2px rgb(0, 0, 0);
    border-radius: 15%;
    width: 30%;
    height: 40px;
    text-align: center;
    background-color:rgb(187, 134, 218);
    margin-left: 25%;
    margin-top: 40px;
}
.cards
{
    margin-left: 10%;
}

.imgfixa{
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
  
}

@media (max-width: 600px){

    #logo{
    width: 60px;
    float: left;
    }

    
    #nav{
        height: 95px;
    }

    #menu{   
     
    width: 198px;
    margin-right: 150px;
    margin-top:-20px;
    

 }
 .menuli
 {
    margin-bottom: 190px; 
    width: 200px;
    display: inline;
    padding: 20px;
 } 

 #paragrafo1{
    
    font-size: 20px;
    font-family:sans-serif;
    width: 300px;
    
    }

    #image1{
    
    width:300px;
    border-radius: 20%;
    height: 200px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
    
    }

    
    .titulo2{
    padding-bottom: 30px;
    margin-left: 100px;
    }
   
    #image2
    {
    height: 300px;
    width: 300px;
    }

    #paragrafo2{
    text-align: justify;
    margin-left: 40px;
    width: 450px;
    font-size: 20px;
    padding-top: 75px;
    }
    
    .divcard 
    {
    width: 80% ; /* Define a largura de cada card */    
    height: 100px;
    margin-bottom: 400px;
    margin-left: 10% ;
    }

    .imgfixa{
    width: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
      
    }

 
}
 